# Default ignored files
/../../Friday 2.0 /.idea/shelf/
/../../Friday 2.0 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Friday 2.0 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Friday 2.0 /.idea/dataSources/
/../../Friday 2.0 /.idea/dataSources.local.xml
